.text{
    // height:100vh;
    width: 100%;
    background-color: rgb(234, 211, 182);
    display:flex;
    justify-content: center;
    align-items: center;
    
    .card{
           padding: 1rem;
        width: 80%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 300px;
        .left{
            flex: 1;
            border-right: 1px  solid black;
            display: flex;
            flex-direction: column;
            gap: 250px;
            align-items: center;

            .upload{
                // padding-left: 35%;
                padding-top: 50%;

            }
            button{
                width:50%;
                padding: 10px;
                border:none;
                background-color: rgb(59, 19, 19);
                color: white;
                margin-bottom:10px ;


                

            }
        }
        .right{
            flex:1;
            display:flex;
            justify-content: space-between;
            align-items: flex-end;
            button{
                margin-top: auto;
                margin-bottom: 5px;

            }
        }
    }
}