// import readersStyles from "./"



// <div className = {readerStyles.right}>

.text2{
    // height:100vh;
    width: 100%;
    background-color: rgb(234, 211, 182);

    justify-content: center;
    align-items: center;
    
    .card2{
           padding: 1rem;
        width: 80%;
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 300px;
        .left2{
            flex: 1;
            border-right: 1px  solid black;
            display: flex;
            flex-direction: column;
            gap: 250px;
            align-items: center;

            .upload2{
                // padding-left: 35%;
                display:flex;
                flex-direction: column;
                gap: 10px;

            }
            
            .textarea_wrapper{
                width: 
            }

            textarea{
                width:100%;
                height:100%;
            }
            button{
                width:50%;
                padding: 10px;
                border:none;
                background-color: rgb(59, 19, 19);
                color: white;
                margin-bottom:10px ;


                

            }
        }
        .right2{
            flex: 1;
            border-right: 1px  solid black;
            display: flex;
            flex-direction: column;
            gap: 250px;
            align-items: center;

            .summarised{
                // padding-left: 35%;
                padding-top: 50%;

            }
            button{
                width:50%;
                padding: 10px;
                border:none;
                background-color: rgb(59, 19, 19);
                color: white;
                margin-bottom:10px ;

            }
            }
        
    }
}